body{
    background-color: rgb(141, 127, 127);
    }
    .count{
            margin-top:150px;
            color:rgb(47, 81, 64);
            font-size: 35px;
            justify-content:center;
            align-items:center;
            display: flex;
        }
.nd{
    color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.Button{
    color:rgb(205, 86, 86);
    background-color: aqua;
    border-radius :5px;
    padding : 10px;
    font-size : 20px;
    
}
.Button:hover{
    background-color: rgb(137, 189, 190);
    padding:11px;
    font-style:italic;
    cursor:pointer;
    border-color:rgb(75, 75, 186)
}
p{
    color:blanchedalmond;
    padding:0;
    margin:0;
    
}
.Reset{
    color:"blue";
    font-size:20px;
    border-radius:5px;
    border:2px solid red;
    padding:3px;
    border-radius:5px;
    margin-top:4px;
    cursor:pointer
}